<div class="text-layout">
    <h1></h1>
    
        
    

</div>

<div class="col md:col-6 sm:col-9">
    <p-fieldset 
        legend="Pipes personalizados"
        [toggleable]="true"

    >
        <p>
            Pipes creados por mi.
            {{'Nosotros' | mayusculas:buttonMayus}}
        </p>
        <button 
        (click)="toggleMayus()" 
        pButton pRipple 
        type="button" 
        label="Cambiar a Mayusculas / Minusculas" 
        icon="pi pi-sort-alt"
        class="
            p-element
            p-ripple
            p-button-rounded
            p-button
            p-component
            mr-1"
        ></button>
    </p-fieldset>
</div>

<div class="col-8 mx-auto">
    <p-toolbar class="col md:col-8 sm:col:9">
        <div class="p-toolbar-group-start">

        </div>

        <div class="p-toolbar-group-end">

            <button pButton
                    icon="pi pi-sort"
                    label="Por nombre"
                    (click)="toggleBusqueda('')"
                    class="
                        p-button-rounded
                        p-button-success
                        mr-1"
            ></button>

            <button pButton
                    icon="pi pi-sort"
                    label="Vuela"
                    (click)="toggleBusqueda('vuela')"
                    class="
                        p-button-rounded
                        p-button-warning
                        mr-1 "
            ></button>

            <button pButton
                    icon="pi pi-sort"
                    label="Por color"
                    (click)="toggleBusqueda('color')"
                    class="
                        p-button-help
                        p-button-rounded
                        mr-1 "
            ></button>
        </div>
    </p-toolbar>
</div>
<div class="col-8 mx-auto grid rounded">
    <div class="col">
        <p-table [value]="heroe | ordenar:ordenarPor">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela | titlecase }}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>